### Import all web scraping liberaries

In [23]:
import requests
from bs4 import BeautifulSoup

### Find number of pages

In [26]:
r = requests.get("https://www.otodom.pl/sprzedaz/mieszkanie/warszawa/?dist=0&subregion_id=197&city_id=26&order=filter_float_price%3Aasc&nrAdsPerPage=72&search%5Border%5D=filter_float_price%3Aasc")
soup = BeautifulSoup(r.content, "lxml")

number_of_pages = soup.find("strong", {"class":"current"}).text
number_of_pages = int(number_of_pages)
number_of_pages

683

### Scrape all inforamtion we need
####  *if you have problems with scraping or slow internet connection use included CSV file to load dataframe

In [3]:
l=[]
for page_number in range(1, number_of_pages + 1):
    base_url = f"https://www.otodom.pl/sprzedaz/mieszkanie/warszawa/?dist=0&subregion_id=197&city_id=26&order=filter_float_price%3Aasc&nrAdsPerPage=72&search%5Border%5D=filter_float_price%3Aasc&page="
    
    r = requests.get(base_url + str(page_number))
    soup = BeautifulSoup(r.content, "lxml")
    
    appartments = soup.find_all("div", {"class":"offer-item-details"})
    
    for appartment in appartments:
        
            area = appartment.find("li",{"class","offer-item-area"})
            location = appartment.find("p",{"class", "text-nowrap"})
            price= appartment.find("li",{"class", "offer-item-price"})
            rooms = appartment.find("li",{"class", "offer-item-rooms"})
            
            labels = ['Area', 'Location', 'Price', 'Rooms']
            attrs = [area, location, price, rooms]
            d ={}
            
            for attr, label in iter(zip(attrs, labels)):
                if attr:
                    d[label] = attr.text
                else:
                    d[label] = None

            l.append(d)

len(l)

45173

### Import Pandas and Numpy liberaries

In [3]:
import pandas as pd
import numpy as np

### Create a dataframe with our scraped data

In [32]:
df = pd.DataFrame(l)
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)
df.head(10)

,Area,Location,Price,Rooms
0,31 m²,"Mieszkanie na sprzedaż: Warszawa, Wola",\n ...,2 pokoje
1,46 m²,"Mieszkanie na sprzedaż: Warszawa, Wola, Wolska",\n ...,2 pokoje
2,"50,88 m²",Mieszkanie na sprzedaż: Warszawa,\n ...,2 pokoje
3,"64,49 m²","Mieszkanie na sprzedaż: Warszawa, Wola, Wawrz...",\n ...,3 pokoje
4,"46,10 m²","Mieszkanie na sprzedaż: Warszawa, Białołęka, ...",\n ...,2 pokoje
5,"63,10 m²","Mieszkanie na sprzedaż: Warszawa, Białołęka, D...",\n ...,3 pokoje
6,"99,40 m²","Mieszkanie na sprzedaż: Warszawa, Ochota, Bitw...",\n ...,4 pokoje
7,"163,26 m²","Mieszkanie na sprzedaż: Warszawa, Wola, Marci...",\n ...,6 pokoi
8,"133,77 m²","Mieszkanie na sprzedaż: Warszawa, Śródmieście,...",\n ...,3 pokoje
9,1 m²,"Mieszkanie na sprzedaż: Warszawa, Ursynów, Ko...",\n ...,1 pokój

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27719 entries, 0 to 43721
Data columns (total 4 columns):
Area        27719 non-null object
Location    27719 non-null object
Price       27719 non-null object
Rooms       27719 non-null object
dtypes: object(4)
memory usage: 1.1+ MB

### Prepare data

In [34]:
df['Price'] = df['Price'].apply(lambda x: x.replace('\n','').replace(' ', '').replace('zł', '').replace('~', ''))
df['Price'] = df['Price'].apply(lambda x: x.replace(',', '.'))
df['Price'] = df['Price'].apply(lambda x: float(x))

In [35]:
df['Price'].head(10)

0     230000.00
1     306000.00
2     359661.00
3     542304.00
4     296245.98
5     390000.00
6    1099000.00
7       7500.00
8      13549.00
9      20000.00
Name: Price, dtype: float64

In [36]:
df['Rooms'] = df['Rooms'].apply(lambda x: x[0] if x[0] !='>' else 10)
df['Rooms'] = df['Rooms'].apply(lambda x: int(x))
df['Rooms'] = df['Rooms'].apply(lambda x: int(x))

In [37]:
df['Rooms'].head(10)

0    2
1    2
2    2
3    3
4    2
5    3
6    4
7    6
8    3
9    1
Name: Rooms, dtype: int64

In [38]:
df['Area'] = df['Area'].apply(lambda x: x.replace('m²',''))
df['Area'] = df['Area'].apply(lambda x: x.replace(',','.'))
df['Area'] = df['Area'].apply(lambda x: x.replace(' ',''))
df['Area'] = df['Area'].apply(lambda x: float(x))

In [39]:
df['Area'].head(10)

0     31.00
1     46.00
2     50.88
3     64.49
4     46.10
5     63.10
6     99.40
7    163.26
8    133.77
9      1.00
Name: Area, dtype: float64

In [7]:
df['Location'] = df['Location'].apply(lambda x: x.replace('Mieszkanie na sprzedaż: ', ''))

In [21]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("Warszawa, Śródmieście")
print(location.latitude, location.longitude)
location.address

52.2328098 21.019067

'Śródmieście, Warszawa, mazowieckie, Polska'

In [13]:
df['Location'].head(10)

,Unnamed: 0,Area,Location,Price,Rooms
0,0,31.00,"Warszawa, Wola",230000.00,2
1,1,46.00,"Warszawa, Wola, Wolska",306000.00,2
2,2,50.88,Warszawa,359661.00,2
3,3,64.49,"Warszawa, Wola, Wawrzyszewska",542304.00,3
4,4,46.10,"Warszawa, Białołęka, Aleksandra Kamińskiego 1",296245.98,2
5,5,63.10,"Warszawa, Białołęka, Derby 1, Skarbka z gór",390000.00,3
6,6,99.40,"Warszawa, Ochota, Bitwy Warszawskiej 1920 r.",1099000.00,4
7,7,163.26,"Warszawa, Wola, Marcina Kasprzaka",7500.00,6
8,8,133.77,"Warszawa, Śródmieście, Próżna",13549.00,3
9,9,1.00,"Warszawa, Ursynów, Komisji Edukacji Narodowej",20000.00,1
10,10,40.00,"Warszawa, Kłobucka",23900.00,1
11,11,20.00,"Warszawa, Praga-Północ, Jagiellońska",60000.00,1
12,12,15.00,"Warszawa, Śródmieście",65000.00,1
13,13,29.94,"Warszawa, Bemowo, Lazurowa 175",70000.00,1
14,14,34.00,"Warszawa, Bielany, Hajoty",80000.00,1
15,15,44.20,"Warszawa, Białołęka, Anastazego Kowalczyka",85000.00,2
16,16,44.20,"Warszawa, Tarchomin, Anastazego Kowalczyka 16",94000.00,2
17,17,33.00,"Warszawa, Praga-Północ, Jagiellońska",99000.00,1
18,18,13.00,"Warszawa, Praga-Południe, Mińska",110000.00,1
19,19,125.00,"Warszawa, Praga-Południe, gen. Augusta Emila ...",115000.00,5
20,20,14.26,"Warszawa, Praga-Południe",119000.00,1
21,21,16.14,"Warszawa, Śródmieście",119000.00,1
22,22,13.13,"Warszawa, Gocławek",120000.00,1
23,23,13.13,"Warszawa, Praga-Południe, Mińska",120000.00,1
24,24,13.00,"Warszawa, Praga-Południe",123000.00,1
25,25,35.00,"Warszawa, Miedzeszyn",124500.00,1
26,26,51.30,"Warszawa, Białołęka, Anastazego Kowalczyka 16",125000.00,3
27,27,22.50,"Warszawa, Białołęka, Giuseppe Verdiego",135000.00,1
28,28,22.54,"Warszawa, Białołęka",136000.00,1
29,29,22.54,"Warszawa, Białołęka, Rossiniego",136600.00,1
...,...,...,...,...,...
27689,39489,81.00,"Warszawa, Ursynów, Stefana Dembego",699000.00,3
27690,39490,78.09,"Warszawa, Dolny Mokotów",699000.00,3
27691,39491,78.09,"Warszawa, Mokotów, Bluszczańska",699000.00,3
27692,39492,44.00,"Warszawa, Śródmieście",699000.00,2
27693,39493,82.00,"Warszawa, Mokotów, Franciszka Bartoszka",699000.00,4
27694,39495,107.00,"Warszawa, Kabaty, Ekologiczna",699000.00,4
27695,39496,63.00,"Warszawa, Mokotów, Wyścigowa",699000.00,3
27696,39497,76.00,"Warszawa, Plac Konstytucji, Polna",699000.00,4
27697,39498,48.06,"Warszawa, Stare Miasto, Świętojańska",699000.00,2
27698,39499,107.00,"Warszawa, Kabaty, Ekologiczna",699000.00,5
27699,39506,80.00,"Warszawa, Wola, Łucka",850000.00,3
27700,39511,40.00,"Warszawa, Celna",760000.00,2
27701,39566,48.00,"Warszawa, Żoliborz, Jasnodworska",545000.00,2
27702,39692,79.00,"Warszawa, Mokotów, Ludowa",1190000.00,2
27703,39845,100.50,"Warszawa, Pyry, Rajskich Ptaków",839000.00,3
27704,39846,53.16,"Warszawa, Dolny Mokotów, Bartycka",560000.00,2
27705,39847,55.47,"Warszawa, Praga-Południe",399000.00,2
27706,39909,91.60,"Warszawa, Tarchomin, Ceramiczna",725000.00,3
27707,39940,66.00,"Warszawa, Wilanów",699000.00,2
27708,40033,107.00,"Warszawa, Dolny Mokotów, Konduktorska",799000.00,4
27709,40186,195.00,"Warszawa, Saska Kępa, Szczuczyńska 10",3000000.00,6
27710,40714,115.20,"Warszawa, Piaski",864000.00,4
27711,40775,68.70,"Warszawa, Wola, Łucka",850000.00,2
27712,40837,47.50,"Warszawa, Mokotów, Janka Bytnara",545000.00,2
27713,41147,127.00,"Warszawa, Grabów, Taneczna",1125000.00,4
27714,41179,80.59,"Warszawa, Falenica",570000.00,4
27715,41366,142.00,"Warszawa, Śródmieście, Mokotowska",2999999.00,4
27716,41767,89.00,"Warszawa, Zawady, Hektarowa",829000.00,3
27717,43567,86.00,"Warszawa, Wilanów",725000.00,3
27718,43721,99.90,"Warszawa, Juliusza Słowackiego",1330000.00,3

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27719 entries, 0 to 43721
Data columns (total 4 columns):
Area        27719 non-null float64
Location    27719 non-null object
Price       27719 non-null float64
Rooms       27719 non-null int64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB

In [4]:
df.to_csv('Warsaw_appartment_df')

NameError: name 'df' is not defined

In [17]:
df = df[df['Area'] < 300]
df.head(10)

,Unnamed: 0,Area,Location,Price,Rooms
0,0,31.00,"Warszawa, Wola",230000.00,2
1,1,46.00,"Warszawa, Wola, Wolska",306000.00,2
2,2,50.88,Warszawa,359661.00,2
3,3,64.49,"Warszawa, Wola, Wawrzyszewska",542304.00,3
4,4,46.10,"Warszawa, Białołęka, Aleksandra Kamińskiego 1",296245.98,2
5,5,63.10,"Warszawa, Białołęka, Derby 1, Skarbka z gór",390000.00,3
6,6,99.40,"Warszawa, Ochota, Bitwy Warszawskiej 1920 r.",1099000.00,4
7,7,163.26,"Warszawa, Wola, Marcina Kasprzaka",7500.00,6
8,8,133.77,"Warszawa, Śródmieście, Próżna",13549.00,3
9,9,1.00,"Warszawa, Ursynów, Komisji Edukacji Narodowej",20000.00,1

TODO:

-Add long/lat column based on location

### You can load df from file here if you have problem with scraping

In [20]:
df = pd.read_csv('Warsaw_appartment_df', index_col=0)
df

,Area,Location,Price,Rooms
0,31.00,"Warszawa, Wola",230000.00,2
1,46.00,"Warszawa, Wola, Wolska",306000.00,2
2,50.88,Warszawa,359661.00,2
3,64.49,"Warszawa, Wola, Wawrzyszewska",542304.00,3
4,46.10,"Warszawa, Białołęka, Aleksandra Kamińskiego 1",296245.98,2
5,63.10,"Warszawa, Białołęka, Derby 1, Skarbka z gór",390000.00,3
6,99.40,"Warszawa, Ochota, Bitwy Warszawskiej 1920 r.",1099000.00,4
7,163.26,"Warszawa, Wola, Marcina Kasprzaka",7500.00,6
8,133.77,"Warszawa, Śródmieście, Próżna",13549.00,3
9,1.00,"Warszawa, Ursynów, Komisji Edukacji Narodowej",20000.00,1
10,40.00,"Warszawa, Kłobucka",23900.00,1
11,20.00,"Warszawa, Praga-Północ, Jagiellońska",60000.00,1
12,15.00,"Warszawa, Śródmieście",65000.00,1
13,29.94,"Warszawa, Bemowo, Lazurowa 175",70000.00,1
14,34.00,"Warszawa, Bielany, Hajoty",80000.00,1
15,44.20,"Warszawa, Białołęka, Anastazego Kowalczyka",85000.00,2
16,44.20,"Warszawa, Tarchomin, Anastazego Kowalczyka 16",94000.00,2
17,33.00,"Warszawa, Praga-Północ, Jagiellońska",99000.00,1
18,13.00,"Warszawa, Praga-Południe, Mińska",110000.00,1
19,125.00,"Warszawa, Praga-Południe, gen. Augusta Emila ...",115000.00,5
20,14.26,"Warszawa, Praga-Południe",119000.00,1
21,16.14,"Warszawa, Śródmieście",119000.00,1
22,13.13,"Warszawa, Gocławek",120000.00,1
23,13.13,"Warszawa, Praga-Południe, Mińska",120000.00,1
24,13.00,"Warszawa, Praga-Południe",123000.00,1
25,35.00,"Warszawa, Miedzeszyn",124500.00,1
26,51.30,"Warszawa, Białołęka, Anastazego Kowalczyka 16",125000.00,3
27,22.50,"Warszawa, Białołęka, Giuseppe Verdiego",135000.00,1
28,22.54,"Warszawa, Białołęka",136000.00,1
29,22.54,"Warszawa, Białołęka, Rossiniego",136600.00,1
...,...,...,...,...
39489,81.00,"Warszawa, Ursynów, Stefana Dembego",699000.00,3
39490,78.09,"Warszawa, Dolny Mokotów",699000.00,3
39491,78.09,"Warszawa, Mokotów, Bluszczańska",699000.00,3
39492,44.00,"Warszawa, Śródmieście",699000.00,2
39493,82.00,"Warszawa, Mokotów, Franciszka Bartoszka",699000.00,4
39495,107.00,"Warszawa, Kabaty, Ekologiczna",699000.00,4
39496,63.00,"Warszawa, Mokotów, Wyścigowa",699000.00,3
39497,76.00,"Warszawa, Plac Konstytucji, Polna",699000.00,4
39498,48.06,"Warszawa, Stare Miasto, Świętojańska",699000.00,2
39499,107.00,"Warszawa, Kabaty, Ekologiczna",699000.00,5
39506,80.00,"Warszawa, Wola, Łucka",850000.00,3
39511,40.00,"Warszawa, Celna",760000.00,2
39566,48.00,"Warszawa, Żoliborz, Jasnodworska",545000.00,2
39692,79.00,"Warszawa, Mokotów, Ludowa",1190000.00,2
39845,100.50,"Warszawa, Pyry, Rajskich Ptaków",839000.00,3
39846,53.16,"Warszawa, Dolny Mokotów, Bartycka",560000.00,2
39847,55.47,"Warszawa, Praga-Południe",399000.00,2
39909,91.60,"Warszawa, Tarchomin, Ceramiczna",725000.00,3
39940,66.00,"Warszawa, Wilanów",699000.00,2
40033,107.00,"Warszawa, Dolny Mokotów, Konduktorska",799000.00,4
40186,195.00,"Warszawa, Saska Kępa, Szczuczyńska 10",3000000.00,6
40714,115.20,"Warszawa, Piaski",864000.00,4
40775,68.70,"Warszawa, Wola, Łucka",850000.00,2
40837,47.50,"Warszawa, Mokotów, Janka Bytnara",545000.00,2
41147,127.00,"Warszawa, Grabów, Taneczna",1125000.00,4
41179,80.59,"Warszawa, Falenica",570000.00,4
41366,142.00,"Warszawa, Śródmieście, Mokotowska",2999999.00,4
41767,89.00,"Warszawa, Zawady, Hektarowa",829000.00,3
43567,86.00,"Warszawa, Wilanów",725000.00,3
43721,99.90,"Warszawa, Juliusza Słowackiego",1330000.00,3

### Import all Data-Visualisation liberaries

In [45]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
sns.regplot(x='Price', y='Area', data=df)
plt.tight_layout()

NameError: name 'sns' is not defined